---
layout: default
---
<header>
  <h1>{{ page.authorname }}</h1>
  <ul>
  <p><li>Email : {% if page.email_local_part and page.email_domain %}
  {{ page.email_local_part }} (at) {{ page.email_domain | replace: '.', ' (dot) ' }}
  {% else %} Not public {% endif %}</li></p>
  
  </ul>
</header>
<section>
<h2>Works of {{ page.authorname }}</h2>
<ul>
{% for pkg in site.pages %}
{% if pkg.layout == 'package' %}
{% for search in pkg.maintainer %}
{% assign searchpath = 'author/' | append: search | append: '.md' %}
{% if searchpath == page.path %}
<li><a href="../pkg/{{ pkg.pkg_name }}">{{ pkg.pkg_name }}</a> : {{ pkg.pkg_summary }}</li>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
</ul>
</section>
