---
layout: default
---
<header>
  <h1>{{ page.authorname }}</h1>
  <table>
    <tr>
      <td> Email </td>
      <td> {% if page.email_local_part and page.email_domain %}
  {{ page.email_local_part }} (at) {{ page.email_domain | replace: '.', ' (dot) ' }}
  {% else %} Not public {% endif %} </td>
    </tr>
    <tr>
      <td> GitHub </td>
      <td> {% if page.github_handle %} <a href="https://github.com/{{ page.github_handle }}">{{ page.github_handle }}</a> {% else %} None {% endif %} </td>
    </tr>
  </table>
  
</header>
<section>
<h2>Works of {{ page.authorname }}</h2>
<ul>
{% for pkg in site.pages %}
{% if pkg.layout == 'package' %}
{% for search in pkg.maintainer %}
{% assign searchpath = 'author/' | append: search | append: '.md' %}
{% if searchpath == page.path %}
<li><a href="../pkg/{{ pkg.pkg_name }}">{{ pkg.pkg_name }}</a>: {{ pkg.pkg_summary }}</li>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
</ul>
</section>
