---
layout: default
---

<header>
  <h1>{{ page.pkg_name }}</h1>
  <p>{{ page.pkg_summary }}</p>
  <table>
    <tr>
      <td> Version </td>
      <td> {% if page.version %}{{ page.version }}{% else %} Unspecified {% endif %} </td>
    </tr>
    <tr>
      <td> License </td>
      <td> {% if page.license %}{{ page.license }}{% else %} Unspecified {% endif %} </td>
    </tr>
    <tr>
      <td style="vertical-align: top"> Maintainer </td>
      <td>
        {% if page.maintainer %}
          {% for handle in page.maintainer %}
          {% for search in site.pages %}
          {% assign authorpath = 'author/' | append: handle | append: '.md' %}
          {% if search.layout == 'author' and search.path == authorpath %}
          <a href="../author/{{ handle }}">{{ search.authorname }}</a><br>
          {% endif %}
          {% endfor %}
          {% endfor %}
        {% else %} Unspecified {% endif %}
      </td>
    </tr>
  </table>
  <ul>
    <li><a href="https://raw.githubusercontent.com/KoreanTUG/KTUGPrivateRepo/master/archive/{{ page.pkg_name }}.doc/doc/latex/{{ page.pkg_name }}/{{ page.doc }}">View <strong>pkg doc.</strong></a></li>
    <li><a href="https://raw.githubusercontent.com/KoreanTUG/KTUGPrivateRepo/master/archive/{{ page.pkg_name }}.tar.xz">Download <strong>TAR.XZ</strong></a></li>
    <li>{% if page.repo_url %} <a href="{{ page.repo_url }}">View On <strong>GitHub</strong></a> {% endif %}</li>
  </ul>
</header>
<section>
{% if page.thumbnail %}
  <img src="../img/pkg/{{ page.thumbnail }}" alt="Thumbnail of {{ page.pkg_name }}">
{% endif %}
{{ content }}
</section>

